 <div id="nav">
  <div id="heading">
    <h1>Photo Album</h1>
  </div> 
  <div id="newbutton">
    <%= link_to 'New Photo', new_photo_path %>
  </div>
</div>
 
 <div class="container"> 
  <div class="row">
  <% @photos.each do |photo| %>

    <div class="photoblock">
    <table class="table table-striped table-condensed">
      <tr>
        <td colspan= "3" id="index_title"><%= photo.title %></td>
      
      </tr>
      <tr>
        <div>
        <td colspan = "3" class="td-thumbnail"><%= image_tag photo.file_location.url, class: "img-thumbnail"%>
        </div>
      </tr>
      <tr>
        <td><%= link_to 'Show', photo_path(photo) %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo_path(photo), method: :delete, data:{ confirm: "Are you sure?" } %></td>
      </tr>
      </table>
      </div>
      
  <% end %>
</div>


</div>