 <div id="nav">
  <div id="heading">
    <h1>Photo Album</h1>
  </div> 
  <div id="navright">
    <div id="buttonsbar">
    <!-- If not signed in, show login button -->
      <% if !user_signed_in? %>
        <div id="newbutton">
          <%= link_to 'Login', new_user_session_path %>
        </div>
        <!-- Else show new photo and log out -->
      <% else %>
        <div id="newbutton">
          <%= link_to 'New Photo', new_photo_path %>
        </div>
        <div id="newbutton">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </div>
      <% end %>
    </div>
    <!-- Start of greeting -->
    <div id="greetings">
      Welcome 
      <% if user_signed_in? %>
        <%= current_user.name %>
      <% else %>
      Guest! 
      <br>Login to upload new photos.
      <% end %>
    </div>
    <!-- End of greeting -->
  </div>
</div>
 
 <div class="container"> 
   <div class="row">
   <% @photos.each do |photo| %>

      <div class="photoblock">
        <div class="td-thumbnail">
          <%= image_tag(photo.file_location.url(:thumb), class: "img-thumbnail",) %>
          <div class="imageinfo">
            <% image_info = "Title: " + photo.title + "<br>Date Uploaded: " + photo.date.to_s %>
            <%= link_to image_info.html_safe, photo_path(photo)%>
          </div>
        </div>
        <div id="photosedit">
          <% if user_signed_in? %>
            <%= link_to 'Edit', edit_photo_path(photo) %>
            <%= link_to 'Destroy', photo_path(photo), method: :delete, data:{ confirm: "Are you sure?" } %>
          <% end %>
        </div>
      </div>
        
    <% end %>
  </div>


</div>